$icon-font-path: '../fonts/';
// Fetch variables
@import "variables";

// Fetch mixins
@import "mixins";

// Fetch font-settings
@import "fonts";

$fa-font-path: "../fonts";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



/*==============================
=            Layout            =
==============================*/

body {
  padding-bottom: 80px;
  padding-bottom: 10px;
  background: #B3B3B3 url(../Images/textur_metall.jpg) center repeat;

  .wrapper {
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5)
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .wrapper {
      max-width: $wrapper-max-width;

      .container {
        max-width: $wrapper-max-width - $grid-gutter-width;
        width: auto;
        margin-left: $grid-gutter-width/2;
        margin-right: $grid-gutter-width/2;

        &.affix {
          max-width: $wrapper-max-width;
        }
      }
    }
  }
}



// Elements
@import "elements/responsive_images";
@import "elements/header";
@import "elements/metanavi";
@import "elements/navigation";
@import "elements/stage";
@import "elements/quickform";
@import "elements/forms";
@import "elements/content";
@import "elements/footer";
@import "elements/spacer_mask";


// EXT:cookieconsent2
@import "extensions/cookieconsent2";

// Partials
@import "partials/breadcrumb";
