
//$carousel-height: 300px;
$carousel-height: auto;

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  min-height: $carousel-height;
  background-color: #777;
}

.carousel-inner > .item > img {
  width: 100%;
  height: auto;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel .carousel-indicators li {
  margin-right: 0px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

.carousel-caption {
  top: 80px;
  color: #fff;
  left: 100px;
  margin-bottom: 30px;
  right: auto;
  bottom: auto;
  margin-bottom: 10px;
  text-align: left;
}

.carousel-caption > h1 {
  font-size: 30px;
}

.carousel-caption > p {
  font-size: 18px;
}

.carousel-caption > h1,
.carousel-caption > h2 {
  display: inline-block;
}

.carousel-caption > * {
  text-shadow: none;
  color: #444;
  padding: 0 3px;
  display: block;
  background: white;
  margin-bottom: 0;
}

.carousel-caption > *:first-child {
  margin-top: 0;
}

.carousel-caption > p {
  margin-bottom: 0;
}

.carousel-caption > br {
  display: none;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  margin-left: 100px;
  right: inherit;
}

.carousel-control.right {
  margin-left: 130px;
  right: inherit;
}

.carousel-control {
  text-align: left;
  width: 20px;
  z-index: 999;
}

.carousel-control {
  color: #fff;
  opacity: 1;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-circle-arrow-left,
.carousel-control .glyphicon-circle-arrow-right {
  display: inline-block;
  margin-top: -10px;
  position: absolute;
  top: 80%;
  z-index: 5;
}
