//
// Header styles
//
header.container {
  min-height: 119px;
  background-color: $header-bg;
  position: relative;

  .logoWrap {
    margin: 41px 23px 0;
    max-width: 50%;

    .logo {
      img,
      svg {
        width: 100%;
        height: auto;
      }
    }
  }
  .claim {
    font-size: 0.8em;
  }


  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .logoWrap{
      margin-left: 82px;
      margin-top: 58px;
      max-width: 60%;
    }
    .claim {
      font-size: 1.2em;
    }
    .logo img,
    .logo svg,
    .logo {
      float: left;
      margin-right: 25px;
      width: 296px;
    }
  }

  @media screen and (min-width: 450px) {
    .claim {
      font-size: 1em;
    }
  }

}
